*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-yellow: #FDCE27;
  --main-grey: #333;
}
ul, ol{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
html{
  font-size: 62,5%;
  color: white;
  font-family: 'Sansita', sans-serif;
}
*[placeholder]{
  font-family: 'Sansita', sans-serif;
  letter-spacing: 1px;
}
.header,
 section{
  background-color: var(--main-grey);
}
.header{
  position: relative;
  /* top: 0;
  left: 0; */
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.header::before{
  content: '';
  position: absolute;
  bottom: -30%;
  right: 0;
  width: 80%;
  height: 55%;
  background: url('img/dotted-deco.png');
  background-size: cover;
  filter: contrast(0) brightness(0);
  z-index: 1;
  transform: rotate(180deg)
}
.nav{
  /* background-color: red; */
  position: absolute;
  width: 30%;
  z-index: 100;
  right: 20px;
  top: 20px;
  display: none;
}
.nav--list{
  display: flex;
  justify-content: space-around;
}
.nav--list li{
  cursor: pointer;
  /* background-color: red; */
  padding: 5px;
  position: relative;
}
.nav--list li::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-yellow);
  transform: scale(0);
  transition: .3s linear;
}
.nav--list li:hover::after{
  transform: scale(1);
}
.nav--list a{
  letter-spacing: 1px;
  transition: .3s linear;
}
.nav--list a:hover{
  color: rgb(229, 226, 226);
}
.header-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .2;
}

.header-img img{
  width: 110%;
  position: absolute;
  top: -10%;
  left: -50px;
}

.header-text{
  position: absolute;
  top: 45%;
  left: 30px;
  width: 70%;
  z-index: 1;
}

.header-text h1{
  font-size: 5rem;
  letter-spacing: 1px;
  text-shadow: 3px 3px black;
  font-weight: normal;
  color: var(--main-yellow);
}
.header-text p{
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 1px;
}
.btn{
  margin-top: 30px;
  background-color: var(--main-yellow);
  border: none;
  font-size: 1.5rem;
  padding: 10px 30px;
  border-radius: 10px;
  font-family: 'Sansita', sans-serif;
  box-shadow: 0 0 4px 2px black;
}

.hamburger{
  position: fixed;
  z-index: 10;
  top: 5px;
  right: 10px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.active-hamb{
  color: black;
}

.main-nav{
  width: 100%;
  text-align: center;
  z-index: 1;
}
.main-nav--list{
  background-color: white;
  width: 100%;
  position: fixed;
  transition: .3s linear;
  z-index: 9;
  transform: translateY(-100%);
}
.active-nav{
  transform: translateY(0);
}

.main-nav ul li{
  padding: 20px 0;
  transition: .3s linear;
}
.main-nav ul li:hover{
  background-color: var(--main-yellow);
}

.main-nav ul li a {
  text-transform: uppercase;
  letter-spacing: 1px;
}


/* section about me */
.about-me,
.projects,
.contact{
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}

section h2{
  color: var(--main-yellow);
  padding: 30px 0;
  font-size: 3rem;
  text-shadow: 2px 2px black;
}
.about-me--metrics,
.about-me--skills{
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}

.container{
  display: flex;
  justify-content: space-between;
}
.container p{
  width: 50%;
  text-align: left;
  padding: 10px 10px;
  font-size: 1.3rem;
}

.container .fas{
  color: var(--main-yellow);
}
.about-me--skills h3{
  color: var(--main-yellow);
  text-align: left;
  padding: 20px 0 10px;
  font-size: 1.7rem;
}


.projects{
  background-color: var(--main-yellow);
}

.projects h2{
  color: rgb(22, 22, 22);
  text-shadow: none;
}

.projects p{
  color: black;
  padding: 10px;
}

.contact {
  padding:0 5% 30px;
}

.contact .container{
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
}
.contact i{
  color: var(--main-yellow);
  font-size: 1.4rem;
}
.contact .container a{
  display: block;
  width: 70%;
  text-align: left;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

.contact--form {
  background-color: #676666;
  width: 90%;
  margin: 10px auto;
  padding: 10px 0;
}

.contact--form h3{
  color: var(--main-yellow);
  font-weight: normal;
  letter-spacing: 1px;
  padding: 5px 0;
  text-shadow: 1px 1px black;
}
.contact--form form{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.contact--form form input,
.contact--form form textarea,
button
{
  margin: 10px 0;
  padding: 5px;
  background-color: lightgray;
  border: none;
  outline: none;
}

.btn__small{
  width: 50%;
  margin: 10px auto;
  font-size: 1.3rem;
  padding: 5px;
}

footer{

}

footer p{
  color: black;
  padding: 20px 0;
  text-align: center;
}
@media (max-width: 320px){
  .about-me--metrics,
.about-me--skills{
  width: 90%;
  padding: 10px 0;
}
.container p{
  font-size: 1.2rem;
}
.contact h2{
  font-size: 2.5rem;
}
  
}
@media (orientation: landscape){
  .header::before{
    bottom: -50%;
    right: 0;
    width: 50%;
    height: 90%;
  }
  .header-text{
    width: 40%;
  }
  .header-img{
    width: 40%;
  }
  .header-img img{
    left: -5%;
  }
  .header-text{
    top: 25%;
    left: 45%;
  }
  .contact--form {
    width: 70%;
  }
}

@media (min-width: 768px){
  html {
    font-size: 20px;
  }
  .header-text{
    top: 45%;
    width: 70%;
  }
 
  .header-img{
    width: 85%;
  }
  .header-img img{
    left: -5%;
  }
  .about-me--metrics,
.about-me--skills{
  width: 55%;
}
  .contact--form{
    padding: 20px;
    margin-top: 40px;
  }
  .contact--form h3{
    font-size: 1.5rem;
  }

.contact--form form input,
.contact--form form textarea,
button
{
  margin: 20px 0;
  padding: 10px;
  font-size: 1rem;
}
}

@media (min-width: 1024px){
  .header{
    z-index: 1;
  }
  .main-nav{
    display: none;
  }
  .nav{
    display: block;
  }
  .header-text{
    top: 40%;
    left: 30%;
    width: 50%;
  }
 
  .header-img{
    width: 50%;
  }
  .header-img img{
    left: -5%;
  }
}

@media (min-width: 1300px){
  .header-text{
    top: 40%;
    left: 35%;
    width: 25%;
  }
 
  .header-img{
    width: 40%;
  }
  .header-img img{
    width: 75%;
    left: 0;
  }
}